<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MockCraigsList">
<head>
    <title></title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/angular/core")
    @Scripts.Render("~/angular/app")
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
</head>
<body class="container">

    <ng-view></ng-view>

</body>
</html>